<h2>アンケートリスト</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for enquete <- @enquetes do %>
    <tr>
      <td><%= enquete.title %></td>

      <td class="text-right">
        <%= link "Show Answers", to: enquete_answer_path(@conn, :index, enquete), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: enquete_path(@conn, :edit, enquete), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: enquete_path(@conn, :delete, enquete), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New enquete", to: enquete_path(@conn, :new) %>
