<h2>Show enquete</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @enquete.title %>
  </li>

</ul>

<%= link "Edit", to: enquete_path(@conn, :edit, @enquete) %>
<%= link "Back", to: enquete_path(@conn, :index) %>
