<h2>回答を編集する</h2>

<%= render "form.html", enquete_id: @answer.enquete_id, changeset: @changeset,
                        action: enquete_answer_path(@conn, :update, @enquete_id, @answer) %>

<%= link "Back", to: enquete_answer_path(@conn, :index, @answer.enquete_id) %>
