
<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :enquete_id, value: @enquete_id %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :answerer, class: "control-label" do %>
      回答者
    <%= end %>
    <%= text_input f, :answerer, class: "form-control" %>
    <%= error_tag f, :answerer %>
  </div>

  <div class="form-group">
    <%= label f, :answer_string0, class: "control-label" do %>
      テキストを読むだけでなく、例えや経験談を交えて、分かりやすく説明していたか？
    <%= end %>
    <%= select f, :answer_string0, 5..1, class: "form-control", value: answer_string(@changeset.model, 0) %>
    <%= error_tag f, :answer_string0 %>
  </div>

  <div class="form-group">
    <%= label f, :answer_string1, class: "control-label" do %>
      話や説明だけでなく、研修生に質問したり意見を求めたりして、一方的な講義にならないようにしていたか？
    <%= end %>
    <%= select f, :answer_string1, 5..1, class: "form-control", value: answer_string(@changeset.model, 1) %>
    <%= error_tag f, :answer_string1 %>
  </div>

  <div class="form-group">
    <%= label f, :answer_string2, class: "control-label" do %>
      大切なことを話す時は、「重要ですよ。」と声をかけたり板書したりして、ノートを取ることを促していたか？
    <%= end %>
    <%= select f, :answer_string2, 5..1, class: "form-control", value: answer_string(@changeset.model, 2) %>
    <%= error_tag f, :answer_string2 %>
  </div>

  <div class="form-group">
    <%= label f, :answer_string3, class: "control-label" do %>
      良かったところ
    <%= end %>
    <%= textarea f, :answer_string3, class: "form-control", value: answer_string(@changeset.model, 3) %>
    <%= error_tag f, :answer_string3 %>
  </div>

  <div class="form-group">
    <%= label f, :answer_string4, class: "control-label" do %>
      悪かったところ
    <%= end %>
    <%= textarea f, :answer_string4, class: "form-control", value: answer_string(@changeset.model, 4) %>
    <%= error_tag f, :answer_string4 %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
