<h2>アンケート回答リスト</h2>
<ol>
  <li>テキストを読むだけでなく、例えや経験談を交えて、分かりやすく説明していたか？</li>
  <li>話や説明だけでなく、研修生に質問したり意見を求めたりして、一方的な講義にならないようにしていたか？</li>
  <li>大切なことを話す時は、「重要ですよ。」と声をかけたり板書したりして、ノートを取ることを促していたか？</li>
  <li>よかったところ</li>
  <li>わるかったところ</li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th>回答者</th>
      <th>1.</th>
      <th>2.</th>
      <th>3.</th>
      <th>4.</th>
      <th>5.</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for answer <- @answers do %>
    <tr>
      <td><%= answer.answerer %></td>
  <%= for detail <- answer.details do %>
      <td><%= detail.answer_string %></td>
  <% end %>
      <td class="text-right">
        <%= link "Edit", to: enquete_answer_path(@conn, :edit, @enquete_id, answer), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: enquete_answer_path(@conn, :delete, @enquete_id, answer), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New answer", to: enquete_answer_path(@conn, :new, @enquete_id) %><br>
<%= link "Back to enquetes", to: enquete_path(@conn, :index) %>
