<h2>回答する</h2>

<%= render "form.html", enquete_id: @enquete_id, changeset: @changeset,
                        action: enquete_answer_path(@conn, :create, @enquete_id) %>

<%= link "Back", to: enquete_answer_path(@conn, :index, @enquete_id) %>
