<h2>回答</h2>

<ul>

  <li>
    <strong>Answerer:</strong>
    <%= @answer.answerer %>
  </li>

  <li>
    <strong>Enquete:</strong>
    <%= @answer.enquete_id %>
  </li>

</ul>

<%= link "Edit", to: enquete_answer_path(@conn, :edit, @answer.enquete_id, @answer) %>
<%= link "Back", to: enquete_answer_path(@conn, :index, @answer.enquete_id) %>
